<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light"><strong>E-Commerce Application</strong></h1>
      <img src="https://www.avsolutions.in/images/services/eCommerce-website.jpg" alt="">
      <p class="lead text-body-secondary">
       <i> E-commerce applications are software platforms enabling online buying and selling with features like product listings, shopping carts, and secure payments. They allow businesses to reach more customers and offer consumers convenient online shopping.</i>
      </p>
      <p>
        <a href="#" class="btn btn-primary my-2" routerLink="/seller/product">Product Section</a> &nbsp; &nbsp;
        <a href="#" class="btn btn-secondary my-2" routerLink="/sign-up">Register</a>
      </p>
    </div>
  </div>
</section>